<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()" [disabled]="form.invalid">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ observation.code.coding?.[0]?.display }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        slot="end"
        (click)="observationFormGroup.toggleSyncDateTime()"
      >
        <ion-icon
          slot="icon-only"
          size="small"
          name="calendar"
          color="primary"
        ></ion-icon>
      </ion-button>

      <ion-button slot="end" (click)="observationFormGroup.toggleNote()">
        <ion-icon
          slot="icon-only"
          size="small"
          name="document"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container [formGroup]="form">
    <app-patient-observation-form-group
      #observationFormGroup
      [patchValue]="observation"
      lines="inset"
    ></app-patient-observation-form-group>
  </ng-container>
</ion-content>
