<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Encounters</ion-title>
    <ion-buttons slot="end">
      <app-person-button></app-person-button>
      <app-chart-menu-button></app-chart-menu-button>

      <ion-button class="can-hide show-on-collapse" [appPatientEncounterInput]>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-searchbar [formControl]="searchInput"></ion-searchbar>
  </ion-toolbar> -->

  @if(loading$ | async){
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }
</ion-header>

<app-scroll-to-top [scrollElement]="scrollElement"></app-scroll-to-top>

<ion-content #scrollElement fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons collapse="true" slot="end">
        <ion-button [appPatientEncounterInput]>
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Encounters</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- No encounters -->
  @if((encounterList$ | async)?.length === 0 && (loading$ | async) === false){
  <ion-list>
    <ion-item lines="none" class="list-note">
      <ion-label>No encounters found</ion-label>
    </ion-item>
  </ion-list>
  }

  <!-- Encounters -->
  @if(encounterList$ | async; as encounterList){
  <ion-list>
    @for(e of encounterList; track trackById; let i = $index){
    <app-encounter-item
      [encounter]="e"
      [link]="[e.id || '']"
      [lines]="i + 1 === encounterList.length ? 'none' : 'inset'"
    ></app-encounter-item>
    }
  </ion-list>
  }
</ion-content>
