<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="onSubmit()"
        [disabled]="chartTemplateTitleFormControl.invalid"
      >
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ chartTemplateTitleFormControl.value }}</ion-title>
  </ion-toolbar>
</ion-header>
<app-scroll-to-top [scrollElement]="scrollElement"></app-scroll-to-top>

<ion-content #scrollElement>
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-searchbar showCancelButton="never" #searchbar></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
      <app-horizontal-scroll-select
        [options]="observationCategory$ | async"
        [labelPath]="['coding', 0, 'display']"
        #categorySelection
      ></app-horizontal-scroll-select>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <ion-list-header lines="full">
      <ion-label>Title</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input
        [formControl]="chartTemplateTitleFormControl"
        placeholder="Chart title"
      ></ion-input>
    </ion-item>
  </ion-list>

  <app-observation-list
    [observations]="observationList$
      | async
      | observationFilter: { searchInput: searchbar.value || '', category: categorySelection.selected }"
  >
    <ng-template #templateHeader>
      <ion-label>Observation</ion-label>
      <ion-button
        (click)="onResetObservationSelection()"
        [disabled]="(chartTemplate$ | async)?.observations?.length === 0"
      >
        Clear
      </ion-button>
    </ng-template>

    <ng-template
      #templateListItem
      let-observation
      let-lastItemInGroup="lastItemInGroup"
      let-lastItem="lastItem"
    >
      <ion-item
        [lines]="lastItem ? 'full': lastItemInGroup ? 'none' : 'inset'"
        class="lux-input"
      >
        <ion-label>{{ observation.code.coding[0].display }}</ion-label>
        <ion-checkbox
          slot="end"
          [checked]="(isSelectedObservation(observation.firestoreId) | async)"
          (ionChange)="onSelectObservation(observation.firestoreId, $event)"
        ></ion-checkbox>
      </ion-item>
    </ng-template>
  </app-observation-list>

  <ion-list-header></ion-list-header>
</ion-content>
